.btn{
    align-items: center;
    
}

.center{
  text-align: center;
  padding-top: 20%;
  
}

.modal{
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%,-50%)scale(0);
transition: 200ms ease-in-out;
border: 1px solid black;
/* border-radius: 10px; */
z-index: 10;
background-color: #fff;
width: 800px;
max-width: 80%;

}
.modal.active{
  transform: translate(-50%,-50%)scale(1);
}

.modal-body{
  width:97%;
  background-color:rgb(244, 248, 251);
  height:30%;
}
.modal-header .close-button{
cursor: pointer;
border: none;
outline: none;
background: none;
font-size: 1.25rem;
font-weight: bold;
padding-left: 97%;
}
#overlay{
  position:fixed;
  /* opacity: 0; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: all;

 }
 #overlay.active {
  opacity: 1;
  pointer-events: all;
 }


.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  padding-left: 50%;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  /* padding: 12px 40px; */
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  }
  
  .button-50:focus {
    text-decoration: none;
  }
  
  .button-50:hover {
    text-decoration: none;
  }
  
  .button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
    
  }
  
  .button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .button-50 {
      padding: 12px 50px;
    }
  }

